.header {
  background: linear-gradient(
      to top right,
      rgb(69, 11, 124, 0.8),
      rgb(86, 60, 201, 0.7),
      rgb(73, 233, 251, 0.6)
    ),
    url("../public/header-bg-2.jpg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  color: #ffffff;
  height: 500px;
  position: relative;
}

.header-greeting {
  font-size: 30px;
  margin-bottom: 15px;
  font-family: emoji;
}

.header-content {
  font-weight: 700;
  letter-spacing: 1px;
  position: absolute;
  top: 100px;
  left: 100px;
}

.header-image {
  position: absolute;
  right: 10px;
  top: 100px;
}

.header-name {
  font-size: 40px;
  margin-bottom: 15px;
}

.header-desciption {
  font-size: 30px;
  margin-bottom: 25px;
}

.header-desciption span {
  color: #e43c5c;
}

.lets-talk-button button {
  padding: 15px 30px;
  background: #fff;
  border-radius: 50px;
  color: #5238b1 !important;
  outline: none;
  border: 0;
  font-weight: 700;
  letter-spacing: 1.5px;
  cursor: pointer;
  text-transform: uppercase;
}

.header-image img {
  max-width: 500px;
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.header-image {
  transform: rotate(-32deg) !important;
}

.header-main-container {
  position: relative;
  height: 570px;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(
    to top right,
    rgb(69, 11, 124),
    rgb(86, 60, 201),
    rgb(73, 233, 251)
  );
}

.wave {
  position: absolute;
  background: url("../public/wave.png");
  width: 100%;
  bottom: 0;
  left: 0;
  height: 80px;
  background-size: 1000px 100px;
}

/* --------------------- */
@-webkit-keyframes up-down {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}

@media screen and (max-width: 970px) {
  .header-content {
    left: 60px;
  }
  .header-image img {
    max-width: 400px;
  }
}

@media screen and (max-width: 820px) {
  .header-image img {
    max-width: 200px;
  }
  .header-image {
    top: 60px;
    right: 5px;
  }
  .header-content {
    top: 120px;
  }
  .wave {
    background-size: 800px 100px;
  }
}

@media screen and (max-width: 600px) {
  .wave {
    background-size: 500px 80px;
  }
}

@media screen and (max-width: 465px) {
  .header-content {
    left: 30px;
  }
  .header-image {
    right: 1px;
  }
}

@media screen and (max-width: 420px) {
  .header-image img {
    max-width: 100px;
  }
  .header-image {
    top: 30px;
  }
  .header-content {
    top: 100px;
  }
  .header-name {
    font-size: 30px;
  }

  .header-desciption {
    font-size: 20px;
  }
  .header {
    height: 400px;
  }
  .header-main-container {
    height: 430px !important;
  }
}

@media screen and (max-width: 370px) {
  .header-main-container {
    height: 460px !important;
  }
}

@media screen and (max-width: 300px) {
  .header {
    height: 450px;
  }
  .header-main-container {
    height: auto;
  }
  .wave {
    display: none;
  }
}
